@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(3, 173, 185);
}

.navbar {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    height: 4em;
    width: 100%;
    justify-content: center;
    z-index: 1000;
}

.navbar a {
    display: block;
    color: #771414;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 120%;
}

.navbar a:hover {
    background: #ddd;
    color: grey;
    text-decoration: underline;
}

